<header>
  <h1>Flash... AAAAAAAAaaaaaa</h1>
  <img src="http://upload.wikimedia.org/wikipedia/en/7/74/Flash_Rei.png" />
</header>
<section>
  <div class="deck-list">
    <h2>Deck: <%= @deck.name %></h2>
    <ul class="unstyled" id="sortable">
    <%- @deck.cards.each do |card| %>
      <li>
      <div class="deck">
        <div class="btn-group">
          <div class="btn disabled" style="width:20px; cursor:pointer;"><i class="icon-move"></i></div>
          <%= link_to deck_card_path(@deck,card), 'data-content' => "Answer: #{card.back}<br />Updated #{time_ago_in_words card.updated_at} ago", class: "btn pop_me", title: "#{card.front}", style: "width:167px;" do %> <i class="icon-th-list" style="float:left;"></i><%= card.front %> <% end %>
          <%= link_to edit_deck_card_path(@deck,card), 'data-placement' => 'left', class: "btn btn-info tip_me", title: "edit"  do %> <i class="icon-edit"></i> <% end %>
          <%= link_to deck_card_path(@deck,card), 'data-placement' => 'right', class: "btn btn-danger tip_me", title: "Delete", method: :delete, confirm: "Are you sure?" do %><i class="icon-trash"></i><% end %>
        </div>
      </div>
      </li>
    <% end %>
    </ul>
    <%= link_to decks_path do %><i class="icon-circle-arrow-left"></i> Go Back<% end %>
    <%= link_to new_deck_card_path(@deck), class: "btn btn-success", style: 'float:right;' do %><i class="icon-plus"></i> New Card<% end %>
    <div style="clear:both;"></div>
  </div>
</section>