<%- if (!signed_in? && current_page?(sign_in_path)) %>
    <%- # redirect_to sign_in_path %>
<%- end  %>
<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
</head>
<body>

<div id="main">
  <%= yield %>
  <% if signed_in? %>
    <div style="text-align:center; margin-top:30px;">
      Flashcards for <%= current_user.name %><br />
      <%= link_to "Sign Out", sign_out_path %>
    </div>
  <% end %>
</div>
</body>
</html>
